AddDefaultCharset utf8
DirectoryIndex index.php
Options Indexes FollowSymLinks


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA] 